{% extends 'base.html.twig' %}

{% block title %}Hello MesStationsController!{% endblock %}

{% block body %}

<ul class="list-group" id="station-list">
    {% for station in station_names %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ station.name }}
        </li>
    {% endfor %}
</ul>



{% endblock %}
