{% extends 'base.html.twig' %}

{% block title %} Hello EditMdpController! {% endblock %}

{% block body %}
    <div class="form-container">
        <h2>Modifier mon mot de passe</h2>
        {% for message in app.flashes('warning')%}
            <div class="alert alert-warning mt-4">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}

        {{ form_end(form)}}
    </div>
{% endblock %}
