<h1>Réinitialiser votre mot de passe</h1>
<p>Bonjour,</p>
<p>veuillez réinitialiser votre mot de passe en cliquant sur le lien ci-dessous :</p>
<p>
    <a href="{{ absolute_url(path('app_edit_mdpOublie', {token: verificationToken})) }}">
        Réinitialiser le mot de passe</a>

</p>
