<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        /* Style général pour le corps */
        body {
            font-size: 12px;
            font-family: sans-serif;
            background: #eff0f5;
        }

        /* Style pour le header et le logo */
        header {
            width: 95%;
            max-width: 1500px; /* Largeur maximale pour éviter que l'en-tête soit trop large */
            margin: 5px auto 0; /* Ajoute un espace en haut, centre l'en-tête */
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #113f67;
            border-radius: 20px;
        }

        .logo img {
            width: 80px; /* Taille du logo */

        }

        /* Style pour le menu de navigation */
        nav {
            position: relative;
            width: 488px; /* Ajuste selon tes besoins */
            height: 50px;
            background-color: #113f67;
            border-radius: 8px;
            font-size: 0;
            display: flex;
            justify-content: space-between;
        }

        nav a {
            line-height: 50px;
            height: 100%;
            font-size: 15px;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            color: white;
            position: relative;
            z-index: 1;
            padding: 0 15px;
            cursor: pointer;
        }

        /* Animation Lavalamp */
        nav .animation {
            position: absolute;
            height: 100%;
            top: 0;
            z-index: 0;
            transition: all 0.5s ease;
            border-radius: 8px;
        }

        nav .start-accueil, a:nth-child(1):hover~.animation {
            width: 100px;
            left: 0;
            background-color: #1abc9c;
        }

        nav .start-profil, a:nth-child(2):hover~.animation {
            width: 100px;
            left: 100px;
            background-color: #e74c3c;
        }

        nav .start-about, a:nth-child(3):hover~.animation {
            width: 100px;
            left: 200px;
            background-color: #3498db;
        }

        nav .start-deconnexion, a:nth-child(4):hover~.animation {
            width: 160px;
            left: 324px;
            background-color: #e67e22;
        }

    </style>
    <header>
        <div class="logo">
            <a href="{{ path('app_accueil') }}"><img src="images/logo1.png" alt="Logo"></a>
        </div>


        <nav>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_accueil') }}">Accueil</a>
            <a href="profil">Profil</a>
            <a href="#about">À propos</a>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
            <div class="animation start-accueil"></div>
        {% else %}
            <a href="{{ path('app_accueil') }}">Accueil</a>
            <a href="register">Inscription</a>
            <a href="#about">À propos</a>
            <a href='login'>Connexion</a>
            <div class="animation start-accueil"></div>
        {% endif %}
        </nav>


    </header>
    <title>Carte</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    {% block css %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block js %}{% endblock %}

</body>
</html>

